<div
  class="navCart-PARENT h-full translate-x-[-40vw] h-full w-[90%] rounded-l-[8vw] bg-blue-500 flex flex-col"
>
  <div class="h-max w-full flex py-[4vh] justify-between px-[4vw]">
    <span>MENU</span>
    <span @click="closeMenu">CLOSE</span>
  </div>
  <div v-if="isMenuOpen" class="h-max w-full py-[2vh]">
    <div v-for="(item, index) in userStore.cart" :key="index">
      <ReusablePrefNavCard :item="item" :key="index" />
    </div>
  </div>
  <div v-else class="h-max w-max">
    <loading-icon />
  </div>
</div>
